.container{
    background-color: var(--White);
    width: 65%;
    padding: 1.1%;
}

.tab:nth-of-type(1) {
    display: block;
}

.button-container{
    justify-content: flex-end;
}

#back{display: none;}

#confirm{display: none;}
