.tab:nth-of-type(3){
    display: block;
}

.adons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--Cool_gray);
    height: 5rem;
    padding:  1rem 1.4rem;
    margin: 1rem 0;
    border-radius: 10px;
}

.adons>p>input{
    display: none;
}

.adons>p>label{
    display: flex;
    background-color: var(--White);
    border: 1.45px solid var(--Cool_gray);
    position: absolute;
    border-radius: 3px;
    top: 50%;
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.adons>p:first-of-type{
    position: relative;
}

.adons p>input:checked{
    color: black;
}

.adons>p>input:checked+label{
    background-color: var(--Purplish_blue);
}

.feature-card{
    width: 70%;
}

.feature{
    color: var(--Marine_blue);
}

.feature-desc{
    color: var(--Cool_gray);
    font-size: 0.89rem;
}

.feature-charge{
    color: var(--Purplish_blue);
    font-size: 0.85rem;
    font-weight: 400;
}

.button-container{
    top:9%
}

#confirm{
    display: none;
}

